
body {
    user-select: none;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.Menu {
    height: 8vmin;
    width: 8vmin;
    
}
.Menu1 {
    background-color: rgba(164, 164, 164, 0.657);
    border-radius: 100%;
    height: 10vmin;
    width: 10vmin;
    position: absolute;
    left: 2vmin;
    top: 2vmin;
    display:flex;
    align-items:center;
    justify-content:center;
}

.Buttons  {
    position: fixed;
    top: 20vh;
    left: 2.5vw;
    right: 2.5vw;
    width: 95vw;
    

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 1vmin;
    justify-content: center;
    
}
.Website {   
    width: 1;
    /*Ignorrieren*/

}