  .menu {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    right: 3vmin;
    top: 3vmin;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    border-radius: 5px;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  h1 {
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 5vmin;
    font-weight: 800;
    margin-left: 15vw;
}
hr {   
    color: white;
    width: 70vw;
    border: 2px solid white;
    border-radius: 5px;
    margin: 0;
    margin-inline: auto;
}
.Name {
    color: #ffffff;
    font-size: 2.5vmin;
    font-weight: 800;
    padding-right: 3vw;
}
.inhalt {
    color: #ffffff;
    font-size: 2vmin;
    font-weight: 500;
    margin-left: 15vw;
}
.Platz {
    width: 15vw;
}
table {
    margin-left: 15vw;
    margin-top: 2vmin;
    border-collapse: collapse;
    width: 70vw;
}
.vl {
    height: 50vh;
    position: absolute;
    border: #ffffff solid 0.4vmin;
    left: 12vw;
    top: 15vmin;
    border-radius: 50px;
}
.home {
    position: absolute;
    left: 0vmin;;
    bottom: 3vmin;
    width: 10vmin;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}
a:hover {
    color: #ffffff;
    text-decoration: underline;
}
.links {
  color: #ffffff;
  font-weight: 500;
}
.links:hover {
  text-decoration: none;
  font-style: italic;
}