body {
    background-color: #CA5508;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: left;
    font-family: kumbh-sans, Amiko, Armata, Helvetica;
}
.bg {
    pointer-events: none;
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .1s infinite;
    opacity: .9;
    visibility: visible;
  }

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
img {
    margin-top: 3vmin;
    margin-left: 3vmin;
    width: 15vmin;
}

h1 {
    font-size: 3vmin;
    color: #fff;
    margin-top: 3vmin;
    margin-left: 3vmin;
    text-align: center;
}
h2 {
    font-size: 2vmin;
    color: #ffeee4;
    margin-top: 3vmin;
    margin-left: 3vmin;
    width: 20vw;
    text-align: center;
    margin-inline: auto;}
h2:hover {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    border: #ffeee4 1px solid;
    width: 20vw;
    border-radius: 5px;
    padding: 0.5vmin;
    background-color: #CA5508;
    transition: all 0.3s ease-in-out;
}