body {
    background-color: #CA5508;
    margin: 0;
    overflow-x: hidden;
    font-family: kumbh-sans, Amiko, Armata, Helvetica;
}
.bg {
    pointer-events: none;
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .1s infinite;
    opacity: .9;
    visibility: visible;
  }
.show {
    display: none;}
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }

  img {
    margin-top: 3vmin;
    margin-left: 3vmin;
    width: 15vmin;
  }
  .menu {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    right: 3vmin;
    top: 3vmin;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    border-radius: 5px;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

.Box {
    background-color: #ffffff9a;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 50vw;
    margin-left: 3vmin;
    margin-top: 3vmin;
    box-shadow:  5px 5px 20px #0000004b;
    padding: 3vw;
    height: 45vh;
    
}
h4,h1,h2,h3 {
    color: #000;
    margin: 0;
    font-size: 2vmin;
}
h1 {
    margin-bottom: 15px;
    color: #CA5508;
    font-size: 5vmin;
}
h2 {
    font-weight: 400;
    font-size: 3.8vmin;
}
h2 span {
    color: #CA5508;
    font-weight: 600;
}
h3 {
    font-weight: 500;
    font-size: 2.5vmin;
}
p {
    font-size: 3.4vmin;}
p .n1 {
    font-weight: 600;
}
p .n2 {
    color: #CA5508;
}

.img {
  margin-inline: auto;
  height: 60vmin;
  width: auto;
  margin-top: 0;
  
}
.container {
  display: flex;
}
button {
  background-color: #ffffffc9;
  width: 24vw;
  height: 8vmin;
  margin-inline: 1vw;
  border: 0;
  border-radius: 1vmin;
  box-shadow:  5px 5px 20px #0000004b;
  font-size: 3vmin;
  font-weight: 600;
  color: #CA5508;
}
.buttons {
  padding-inline: 8%;
  margin-top: 5vmin;
  position: absolute;
  bottom: 10vmin;
}
@media screen and (max-width: 750px) {
  .buttons {
    width: min-content;
    position: relative;
    margin-inline: auto;
  }
  button  {
    width: 40vw;
    margin: 3vmin;
    
  }
  h2 {
    font-size: 3vmin;
  }
  .container {
    display: block;
    text-align: center;
    
    
  }
  .img {
    height: 90vw;
  }
  .Box {
    width: 70vw;
    height: fit-content;
    margin-inline: auto;
    margin-bottom: 10vmin;
    }
    .show {display: block;}
    .remove {display: none;}
}