
/* Bei Body hat ChatGPT geholfen (denke ich weil ich keine notizen mache normalerweise)*/
body {
    background-color: rgb(10, 10, 10);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.screen {
    color: rgb(232, 232, 232);
    text-align: right;
    overflow:auto;
    overflow-y: hidden;
    margin-block: auto;
    margin-top:30vmin;
    margin-bottom: 6vmin;
    line-height: 20vmin;
    margin-inline: 3vmin;
    max-width: 90vmin;
}

button {
    border-radius: 5000px;
    height: 21vmin;
    width: 21vmin;
    margin: 0.6vmin;
    margin-block: 1vmin;
    font-weight: 525;
    font-size: 8vmin;
    background-color: rgb(39, 39, 39);
    border: 0px;
    color: whitesmoke;
    transition: 500ms;
}
.bigbutton {
    width: 42vmin;
    height: 21vmin ;
    margin: 0.625vmin;
    text-align: left;
    padding-left: 10.5vmin;
}

.grey {
    background-color: grey;
    color: black;
}
.oragne {
    background-color: orange;
    color: whitesmoke;
}
.oragne1 {
    background-color: orange;
    color: whitesmoke;
}


.oragne:focus  {
    background-color: aliceblue;
    color: orange;
    transition: 500ms;
}
button:active {
    background-color: rgb(130, 130, 130);
    transition: 0ms;
}
.grey:active {
    background-color: rgb(164, 164, 164);
    transition: 0ms;
}

::-webkit-scrollbar {
    background-color: rgb(55, 55, 55);
    height: 5px;
    border-radius: 5px;
    margin-block: auto;

}

::-webkit-scrollbar-thumb {
    background-color: rgb(38, 38, 38);
    height: 4px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:active {
    background-color: orange;
    height: 4px;
    border-radius: 5px;
}

.row {
    text-align: center;
}