body {
    background-color: #DEBDA4;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.token {
    color: #6E0E0E;
    position: absolute;
    left: 3vw;
    font-size: 3vw;
}
h1 {
    color: #6E0E0E;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 10vw;
    margin: 10px;
}
.link {
    position: absolute;
    right: 3%;
}

button {
    color: #6E0E0E;
    background-color: #BB9277;
    border-color: #6E0E0E;
    border-style: solid;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 3vw;
    cursor:pointer;
}
.Home {
    height: 6vmin;
    width: 13vw;
}
hr {
    color: gray;
    width: 40%;
    margin-bottom: 20px;
}
.middle {
    color: #6E0E0E;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 3vw;
    margin: 10px;
    text-align: center;
    background-color: #BB9277;
    border: #6E0E0E solid;
    padding: 4%;
    margin-top: 25vh;
}

footer {
    display: flex; /* Flexbox für die Hauptstruktur */
    width: 100%; /* Gesamte Breite */
    background-color: #A77B5F;
    position: fixed;
    bottom: 0;
    height: 10vh; /* Höhe des Footers */
    left: 0;
    margin: 0;
    padding-block: 10px;
    border: #560808 solid 2px;
}

.footer {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    width: 40vw;
    height: 10vh;
    margin-inline: 5vw;
    background-color: #a07357;
    border-radius: 5px;
    font-size: 1vmin;
}
.footer h2 {
    font-size: 15px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #6E0E0E;
    margin: 1vh;
    
}
a {
    text-decoration: none;
}
.vl {
    position: relative; /* Von absolut zu relativ geändert */
    align-self: center; /* Zentriert die Linie innerhalb von Flexbox */    height: 80%; /* Höhe der Linie */
    background-color: #6E0E0E;
    width: 3px; /* Breite der Linie */
}
@media (max-width:500px){
    .hider {
        display: none;
    }
    .footer {
        width: 80vw;
    }
}
@media (max-width: 550px) {
    .hide {
        display: none;
    }
    #Tokens {
        flex-direction: column; /* Stellt sicher, dass Button und Text untereinander stehen */
        align-items: center; /* Zentriert beide Elemente */
    }
    .money {
        display: flex; /* Sichtbar machen, wenn Bildschirm schmaler */
        text-decoration: none;
        font-size: 4vw;
        width: 60vw;
        justify-content: center; /* Zentriert den Button */
    }
    .token {
        width: 100vw; /* Token-Text über die ganze Breite */
        font-size: 3.5vw;
        margin-inline: 0; /* Entfernt den horizontalen Abstand */
    }

}


